<h1>Login Page</h1>

<%= form_for :user do |f|%>
    Email    : <%= f.text_field :email %><br>
    Password : <%= f.text_field :pwd %><br>
    <%= f.submit '登录' %>
<% end %>

<%= link_to '忘记密码', user_reset_password_path %>