<h1>Users#signin</h1>

<%= form_for :user do |f|%>
    Email    : <%= f.text_field :email %><br>
    User Name: <%= f.text_field :user_name %><br>
    Password : <%= f.text_field :pwd %><br>
    <%= f.submit %>
<% end %>
