<h1>Signup Page</h1>
<%= link_to '首页', root_path %>

<%= form_for :user do |f|%>
    Email    : <%= f.text_field :email %><br>
    User Name: <%= f.text_field :user_name %><br>
    Password : <%= f.text_field :pwd %><br>
    <%= f.submit '注册' %>
<% end %>
