<h1>Home#index</h1>

<% if logged_in? %>
    <p><%= @home %> Welcome, <%= current_user.user_name %></p>
    <%= link_to "Create Event", event_add_path %>
<% end %>

<%= link_to "Sign up", user_signup_path %>
<% if logged_in? %>
    <%= link_to "Log out", user_logout_path(current_user.id) %>
<% else %>
    <%= link_to "Sign in", user_signin_path %>
<% end %>